body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

.header {
  height: 25vh;
  width: 100vw;
  top: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  text-align: center;
  padding: 0;
}

.connect {
  width: 30vw;
  margin-top: 2vh;
}

.connect a {
  text-decoration: none;
}

.connect p {
  color: black;
  text-decoration: underline;
  font-size: 125%;
  padding-left: 50px;
  padding-right: 50px;
  transition: 0.4s;
}

.connect p:hover {
  color: #8200bd;
}

.logo {
  width: 40vw;
  color: #8200bd;
}

.juniordevs {
  font-size: 400%;
  margin-bottom: 0;
}

.logo hr {
  width: 70%;
  height: 1px;
  background-color: #8200bd;
  border: 1px solid #8200bd;
  border-radius: 5px;
}

.australia {
  font-size: 220%;
  letter-spacing: 12px;
  font-weight: lighter;
  margin-right: -10px;
  margin-top: 0;
}

.auth {
  width: 30vw;
  margin-top: 5vh
}

.auth button {
  width: 150px;
  height: 50px;
  font-size: 150%;
  margin-right: 20px;
  color: #8200bd;
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  transition: 0.3s;
}

.auth button:hover {
  color: white;
  background-color: #8200bd;
  border: 2px solid #8200bd;
}

.cards {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  text-align: center;
  padding: 0;
  margin-top: 5vw;
}

.cards a {
  text-decoration: none;
}

.card {
  border: 2px solid black;
  width: 25vw;
  height: 55vh;
  transition: 0.4s;
  color: #8200bd;
  border-radius: 5px;
}

.card:hover {
  width: 27vw;
  height: 60vh;
  background-color: #8200bd;
  border: 2px solid #8200bd;
  color: white;
  margin-top: -2.5vh;
}

.card h2 {
  letter-spacing: 10px;
  margin-right: -10px;
  font-size: 300%;
}

.card p {
  margin-top: 10vh;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 100%;
}

.footer {
  height: 5vh;
  width: 100vw;
  bottom: 0;
  position: fixed;
  padding: 0;
  margin: 0;
}

.footer a {
  color: black;
  text-decoration: underline;
}

.footer-items {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  text-align: center;
  padding: 0;
  margin: 0;
}

.footer-item {
  margin-left: 20px;
  margin-right: 20px;
}

#copy {
  margin-right: 72px;
}
